*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: tomato;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.count{
    color: white;
    margin: 10px;
    text-align: center;
    
    padding: 0px 16px;
}
button{
    height:50px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin: 4px;
    cursor: pointer;    
}
button:hover{
    border: 2px solid white;
    box-shadow: 2px 3px 3px white;
}